@charset "utf-8";
/* CSS Document */
/*重置*/
*{
    margin:0; 
    padding:0;
}
p{  
    text-indent:0;
}
ul,li{ 
    list-style:none;;}
a{ 
    text-decoration:none;
}
img{
    border:none;
}
em,i{
    font-style:normal;
}

/*浮动相关*/
.clr40{ width:100%; height:40px; clear:both;}
.clr35{ width:100%; height:35px; clear:both;}
.clr30{ width:100%; height:30px; clear:both;}
.clr25{ width:100%; height:25px; clear:both;}
.clr20{ width:100%; height:20px; clear:both;}
.clr15{ width:100%; height:15px; clear:both;}
.clr10{ width:100%; height:10px; clear:both;}
.clr5{ width:100%; height:5px; clear:both;}
.clearfix::after{
    content:".";
    clear:both;
    display:block;
    visibility:hidden;
    height:0;
    }
/*固定宽度：1200px布局*/
.mian_content{ 
    width:1200px;  
    position:relative; 
    overflow:hidden; 
    margin:0 auto;
}
.linebox{
    width:1200px; 
    overflow:hidden; 
    margin:0 auto;
}