@charset "utf-8";
/* CSS Document */
html{
    padding: 0;
    margin: 0;
}
body{
	background-image: url(../imgs/bg.png);
    margin: 0;
    padding-left:5%;
    padding-right: 5%;
}
.title{
    margin-top: 15%
}
.info{
    font-size: 36px;
    color: #fff;
    letter-spacing: 0.05em;
    margin-top: 5px;
}
.links{
}
.btn{
    display: inline-block;
    width: 170px;
    height:60px;
    border: 1px solid #fff;
    margin-right: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
    color: #fff;
    margin-top: 40px;
    transition: all 0.3s;
}
.btn:hover{
    background: #fff;
    color: #2b4a68;
    transition: all 0.3s;
}
.img_web{
    float: right;
    width: 50%;
}